/* ELEMENT SELECTOR */
p{
color: orange;    
text-align: center;
text-justify: inter-word;

margin: 10px;
font-size: 20px;
font-family: Georgia, 'Times New Roman', Times, serif;
}
h1{
    color: orange;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
    text-align: center;
    margin-top: -120px;
}
h2{
    color: orange;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    text-align: center;
    margin-top: -45px;
    
}
h3{
    color: orange;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    text-align: center;
    margin-top: -40px;
    
}
/* ID SELECTOR */
#myID{
    color: teal;
}
/* CLASS SELECTOR */
.center{
    text-align: center;
}




#btn_ig
{
    margin-top: 40px;   
    margin:10px;
    border-radius: 8px;
    background-color: orange;
    color: black;
    padding:  -5px 10px;
    font-size: 16px;
    cursor: pointer;
    transition-duration: 0.4s;
    border-color: orange;
    color: orangered ;
    height: 60px; 
    width: 100px; 

}
#btn_ig:hover
{
    background: plum;
    color: whitesmoke;
}
#btn_fb
{
    margin-top: 10px;
    margin: 5px;   
    border-radius: 8px;
    background-color: orange;
    color: black;
    padding:  -5px 10px;
    font-size: 16px;
    cursor: pointer;
    transition-duration: 0.4s;
    border-color: 	orange;
    color:white ;
    height: 60px; 
    width: 100px; 

}
#btn_fb:hover
{
    background: #3b5998 ;
    color: whitesmoke;
}

#btn_yt
{
    margin-top: 10px;
    border-radius: 8px;
    background-color: orange;
    color: black;
    padding:  -5px 10px;
    font-size: 16px;
    cursor: pointer;
    transition-duration: 0.4s;
    border-color: 	orange;
    color:white ;
    height: 60px; 
    width: 100px; 

}
#btn_yt:hover
{
    background: red ;
    color: whitesmoke;
}
